{% extends 'main/base.html' %} {% load static %} {% block content %}
<div class="about-container">
  <h1>About Me</h1>

  <div class="image-container" style="text-align: center">
    <img
      src="{% static 'image/church.jpg' %}"
      alt="Profile"
      style="width: 300px; border-radius: 10px; margin-bottom: 20px"
    />
  </div>

  <div class="about-text">
    <p>
      The New Testament is the only place to which we can turn to learn about
      the church of Christ. We recall that the church is described as the
      eternal purpose of God (Eph. 3:9-11). It is obviously very important...
    </p>

    <p>
      The New Testament teaches us what the church is, and what the church
      should be today, according to the plan of God. First, the church was built
      and purchased by Christ (Matt. 16:18; Acts 20:28). No one has the right to
      start a church as a divinely approved institution (cf. 1 Cor. 1:10-13).
      Christ, the Son of God, is the only one qualified, and he has established
      his church (cf. Eph. 4:4; 1:22-23). After religious division arose within
      the church at Corinth, Paul asked some probing questions. “Is Christ
      divided? Was Paul crucified for you? Or were you baptized in the name of
      Paul?” (1 Cor. 1:13). The church belongs to Christ on the basis of these
      gospel truths. He died for it. He built it. He lays down requirements
      through which we can belong to him. The church belongs to Christ. He is
      the head of the church (Col. 1:18). Second, the church that belongs to
      Christ began on the day of Pentecost as recorded in Acts 2. Religious
      bodies that have their origin in Rome, Zurich, London, or any other place
      but Jerusalem, are ones that started in the wrong places. The Lord’s
      church was founded by Christ through the preaching of the apostles in
      Jerusalem, corresponding to Old Testament prophecy (Is. 2:2-4). When the
      gospel was preached by Paul, and others, throughout the ancient world,
      different denominations were not set up. Whenever the pure gospel of
      Christ was taught, just as it was preached for the first time in
      Jerusalem, the result was simply Christians who belonged to Christ —
      collectively the church of Christ — when people obeyed the gospel. If
      there was no congregation of the Lord’s church in your hometown, and you
      started teaching others about the death of Jesus, the benefits of his
      redemptive blood, and the requirements of the New Testament to have the
      forgiveness of sins — you would not be setting up a denomination. Rather,
      you would be following the New Testament pattern, and those who obey the
      gospel would be a part of the Lord’s church. The church of Christ would
      then exist in your hometown, and the New Testament alone would be its
      guide for work and worship. Third, only divinely appointed names were worn
      by the church. Such designations like church of Christ (Rom. 16:16) and
      church of God (1 Cor. 1:2) are scriptural names that describe the church
      as belonging to Christ and God. “The church of Christ” is not a
      denominational title that describes a religious institution established by
      men. Rather, it is the collective reference to the people of God in the
      world — people who follow the New Testament teaching regarding the church.
      Fourth, being saved is the way to membership in the Lord’s church (Acts
      2:47). There should be no mistake as to the method by which salvation may
      be realized. A person must have faith in Jesus as the Son of God (Jn
      20:30-31; Jn. 8:24), repent of sin (Acts 17:30), confess that Jesus is
      Lord and believe that God raised him from the dead (Rom. 10:9,10), and be
      baptized for the forgiveness of sins (Acts 2:38; 22:16). When a person is
      saved according to the Lord’s instructions that are in the New Testament,
      when he is “baptized into Christ” (Gal. 3:26-27), he is at that time a
      member of his church (Eph. 5:23). “And the Lord added to their number day
      by day those who were being saved” (Acts 2:47). Fifth, the Lord’s church
      honors the authority of Christ. From the start, the church respected the
      Lord as the head of the church, for “... they devoted themselves to the
      apostles’ teaching and fellowship, to the breaking of bread and the
      prayers” (Acts 2:42). The church has a divinely appointed mission (Matt.
      28:19-20; Mk. 16:15-16). In submitting to the Lord’s authority, Christians
      ought to worship according to the New Testament (Jn. 4:24; Col. 3:16-17).
      In subjecting themselves to the headship of Jesus, congregations of the
      Lord’s church must govern themselves according to the New Testament
      teaching. If Christ is the head of the church, we can not implement our
      own worship styles or leadership preferences. Christ is mindful of what
      goes on within his congregations. He will discipline them, and he will
      consider them apostate if they persist in unscriptural practices (cf. Rev.
      2:5; 2 Jn. 9). The New Testament gives a clear picture of what the church
      was under the leadership of the Lord’s apostles. The church’s origin was
      divine; it continues to be subject to the authority of Christ. Should it
      not be the same today — simply, the church of Christ?
    </p>
  </div>
</div>
{% endblock %}
